.chat-container {
  width: 80%;
  margin: 20px auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: relative;
}

.chat-header {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.clear-button {
  position: absolute;
  right: 20px; /* Positioned to the right within the header */
  top: 10px;
  padding: 8px 16px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.clear-button:hover {
  background-color: #c82333;
}

.messages {
  overflow-y: auto;
  height: 400px; /* Fixed size */
  padding: 8px;
  width: 100%;
  background-color: #e0e0e0;
}

.message-group {
  margin-bottom: 12px;
}

.message {
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  max-width: 70%;
  word-wrap: break-word;
}

.question {
  background-color: #007bff;
  align-self: flex-end;
  margin-right: 20px;
}

.answer {
  background-color: #666;
  align-self: flex-start;
  margin-left: 20px;
}

.input-area {
  display: flex;
  padding: 10px;
  width: 100%;
}

.input-box {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-right: 10px;
}

.send-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0056b3;
}
.file-upload {
  margin-top: 10px; /* Provide spacing between the clear button and the file input */
  display: flex; /* Use flexbox to arrange items */
  align-items: center; /* Align items vertically in the center */
}

input[type="file"] {
  font-size: 16px;
  padding: 8px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  width: calc(100% - 16px); /* Adjust width to fit within container */
  box-sizing: border-box; /* Ensures the padding and border are included in the width */
}
  
.upload-pdf-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px; /* Adjust margin to align properly with the upload button */
  flex: 1; /* Occupy 25% of the available space */

}

.upload-pdf-button:hover {
  background-color: #0056b3;
}



.file-input {
  flex: 2; /* Occupy half of the available space */
  margin-right: 10px; /* Add space between elements */
}

